body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: #343a40;
    color: #ffffff;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1;
    padding-top: 20px;
    width: 250px;
}

.container-main {
    margin-left: 250px; /* La même largeur que le sidebar */
    padding: 20px;
}

.box {
    background-color: #007bff;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
}

    .card img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

.btn-danger {
    margin-bottom: 0px;
}

